div.address{

    .top-element {
        text-align: center;
    }


    .icon-grey{
        content: url("../images/grey_loc.png");
    }

    .icon-blue {
         content: url("../images/blue_loc.png");
    }
}