#diagnostics{
	.modalList{
		text-align:center;
	}
	.modal-body{
		padding:0 !important;
	}
	.km-view-title {
		line-height: 3;
	}
	.list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
	.list-group-item {
		min-height: 45px;
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.bulletImg {
		float: left;
		width: 10%;
		margin: 1.5% 0 0 5%;
	}
	.dignInfoDisclose {
		margin-top: 2%;
		width: 3%;
		float: right;
		vertical-align: middle;
	}
	.round{
		width: 13px;
		height: 13px;
		background-color: #3b86dd;
		border-radius: 100px;
	}
}

#diagnosticTestType{
	.km-view-title {
		line-height: 3;
	}
	.testTypeHead{
		margin:0 5% 0 5%;
		color:#3b86dd;
		font-size:17px;
	}
	.list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
	.list-group-item {
		min-height: 45px;
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.bulletTxt {
		float: left;
		margin-left: 5%;
	}
	.testTypeDisclose {
		margin-top: 2%;
		width: 3%;
		float: right;
		vertical-align: middle;
	}
	.testType{
		margin:0 5% 0 20%;
	}
	.testTypeFull{
		margin:0 5% 0 5%;
	}
	.testTypeText{
		color:#AAAFB4;
	}
}

#addDiagnostics{

	#diagnosticImg {
		text-align: center;

		.microScopeImg {
			width: 25%;
			margin: 10% auto;
		}

		.valueAdding {
			margin-bottom: 2vh;
		}

		.edit-icon, .info-arrow{
			height: auto;
			width: 50%;
	    	float: right;
			margin-top: 2%;
		}

		.measuredDate, .measuredTime, .medicalNotes {
		    padding: 3% 2%;
		    width: 100%;
		    text-align: left;
		    display: table;

		    div{
		    	/*display: table-cell;*/
		    }
		}

		.measuredDate , .measuredTime {
		    p{
		    	margin: 0;
		    	padding: 0;
		    	text-align: left;
		    	font-family: OpenSans;
				font-size: 17px;
				line-height: 1.3;
				letter-spacing: -0.8px;
				color: #9b9b9b;
		    }

		    input {
		      background: transparent;
		      border: 0 !important;
		      outline: none;
		      padding: 0px;
		      margin: 0px;
		      position:absolute;
		      width: 67%;
		      color: transparent;
		      cursor: pointer;

		      -webkit-appearance:none ;
		      &:focus {
		          outline: none;
		          border: 0 !important;
		      }
		    }
		}

		.subHeadings {
			font-size: 14px;
			line-height: 1.1;
			letter-spacing: -0.9px;
			color: #4a90e2;
			text-align: left;
			padding: 1vh 7vh;
			background-color: #f5f5f5;
			border: 1px solid #eeeeee;
	 	}

	 	.subHeadingText {
	 		font-size: 16px;
			line-height: 1.1;
			letter-spacing: -0.9px;
			text-align: left;
			color: #000000;
			padding: 2vh 7vh;
			background-color: #ffffff;
			border: 1px solid #eeeeee;
	 	}
	}

	.addDiagInput{
		background-color: #ffffff;
		margin-left: 25%;
		width: 17%;
		height: 36px;
		font-size: 23px;
		padding: 8px;
		text-align: center;
		color: #000000;
		overflow: hidden;
	}
	.select {
		float: left;
		height: 34px;
		width: 40%;
		color: #3b86dd;
		border: 0;
		box-shadow: 1px 2px 0px 0px #ccc;
		border-radius: 0;
		-webkit-appearance: none;
	}
	.btnBar{
		text-align:right;
	}
	.btn-Done{
		color: #3b86dd;
	}

	.selectCls {
		-webkit-appearance: none;
		border: 0;
		background: #ffffff;
		outline: none;
		padding: 2vh;
		border-bottom: 1px solid #f5f5f5;
	}

	.selectImg {
		width: 2vh;
		top: -30px;
		position: relative;
		z-index: 2;
		margin-right: 3vh;
		float: right;
	}

	ng-datepicker {
		/*width: 300px;
		height: 200px;*/
	/*	top: -264px;
		left: -278px;*/
	}

	.ng-datepicker {
		top: -244px;
  		left: -250px;
	}

	#mTime {

		width: 310px !important;
		/* float: right; */
		margin-left: 84px !important;
		border: 1px solid black !important;
		height: 50px;
		color: #9b9b9b !important;
		/* line-height: 2px; */
		padding-top: 6px !important;
		left: 0px;
	}
}

#addNewUnitModal{
	text-align:center;
	margin-top:40%;

	.newUnitBtn{
		text-align:center;
		color: #3b86dd;
	}
}