.height_scale {

  width: auto;
  height: 45vh;
  margin-left: 20%;
  position: absolute;
}

.person_div{
  margin-top: 5vh;
  height: 50vh;
}

.height_title {

  text-align: center;
  margin: 5%;

}

.height_common {
  height: auto;
  display: inline-block;
  position: absolute;
  margin-left: 30%;
}

.height_person_0to2{

}

.height_person_2to3{

}

.height_person_3to4 {

}

.height_person_4to5 {

}

.height_person_5plus {

}


.height_desc {
  text-align: center;
  margin: 5%;
}
.height_input {

  border: 1px solid black;
  border-radius: 4px;
  padding: 3%;
  width: 50%;
  display: inline-block;
  &:focus {
    border: 1px solid #4a90e2;
    border-radius: 4px;
    display: inline-block;
  }
}


.height_input_one {

  margin-left: 50%;

}

.height_input_two {

  margin-left: 5%;

}

.h-input-div-one {

  width:50%;

}

.h-input-div-two {

  width:50%;

}

.height_par > p {
  text-align: center;
}
.height_par > hr {

  background-color: black;
  height: 1px;

}


.lvlmale_0to2 {

  content:url("../images/lvlmale_0to2.png");
  width: 6vh;
  top: 35vh;

}

.lvlmale_2to3 {

  content:url("../images/lvlmale_2to3.png");
  width: 7vh;
  top: 28vh;
}

.lvlmale_3to4 {

  content:url("../images/lvlmale_3to4.png");
  width: 7vh;
  top: 24vh;
}

.lvlmale_4to5 {
  content:url("../images/lvlmale_4to5.png");
  width: 9vh;
  top: 20vh;
}


.lvlmale_5plus {

  content:url("../images/lvlmale_5plus.png");
  width:11vh;
  top:16vh;

}





.lvlfemale_0to2 {

  content:url("../images/lvlfemale_0to2.png");
  width: 6vh;
  top: 35vh;

}

.lvlfemale_2to3 {

  content:url("../images/lvlfemale_2to3.png");
  width: 7vh;
  top: 28vh;
}

.lvlfemale_3to4 {

  content:url("../images/lvlfemale_3to4.png");
  width: 7vh;
  top: 24vh;
}

.lvlfemale_4to5 {
  content:url("../images/lvlfemale_4to5.png");
  width: 9vh;
  top: 20vh;
}


.lvlfemale_5plus {

  content:url("../images/lvlfemale_5plus.png");
  width:11vh;
  top:16vh;

}

#addHeight {

  text-align: center;
  
  .heightImg {
    width: 25%;
    margin: 15% auto;
  }

  .heightSelect {
    position: relative;
    left: 10;
    height: 206px;
    bottom: 226px;
    background: #ffffff;
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
    border: 1px solid #CBC9C9;
    z-index: 999;    

    #scrollFeet {
      position: relative;
      height: 65%;
      width: 50%;
      float: left;
      display: inline-block;
      overflow-y: scroll
    }

    #scrollInch {
      position: relative;
      height: 65%;
      width: 50%;
      float: right;
      display: inline-block;
      overflow-y: scroll;
    }

    .heightCls {
      height: 30px;
    }
  }

  .heightAdding {

    .heightInFts, .heightInMts{
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #979797;
      margin-left: 16%;
      width: 25%;
      height: 50px;
      font-size: 23px;
      padding: 8px;
      text-align: center;
      color: #000000;

      input {
        width: 80%;
        text-align: center;
      }
    }
  }
  .heightUnits, .measuredDate, .heightNotes {
    border-bottom: 1px solid #ccc;
    padding: 12px 12px;
    text-align: left;

    .medInfoDisclose {
      margin-top: 2%;
      width: 50% !important;
      float: right;
    }
  }
  .measuredDate {
    .form-date-underlined {
      height: 5%;
      background: #ffffff;
      border: 0 !important;
      outline: none;
      width: 100%;
      font-size: large;
      -webkit-appearance:none ;
      &:focus {
          outline: none;
          border: 0 !important;
      }
    }
  }
  .heightUnits {
    font-size: 15px;
    letter-spacing: 0px;
    color: #6d6d6d;
    padding: 2% 0% 4% 20%;
  }

}


.heightSelect {
    position: relative;
    left: 10;
    height: 206px;
    bottom: 226px;
    background: #ffffff;
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
    border: 1px solid #CBC9C9;    
    z-index: 999;
    
    .closeHeight {
      margin-bottom: 5%;
      text-align: right;
      padding: 10px;
      font-size: 17px;
      line-height: 1.3;
      letter-spacing: -0.8px;
      color: #4e94e3;
      border-bottom: 1px solid #ccc;
    }

    #scrollFeet {
      position: relative;
      height: 65%;
      width: 50%;
      float: left;
      display: inline-block;
      overflow-y: scroll
    }

    #scrollInch {
      position: relative;
      height: 65%;
      width: 50%;
      float: right;
      display: inline-block;
      overflow-y: scroll;
    }

    .heightCls {
      height: 30px;
    }
  }

  .heightInFt{
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #979797;
      height: 57px;
      line-height: 46px;
      font-size: 23px;
      padding: 8px;
      text-align: center;
      color: #000000;
    }