#insuranceList .default-noti {
  position: absolute;
  top: 40%;
  font-size: 20px;
  text-align: center;
  color: #4C91E0; 
  padding: 6px;
  line-height: 1.2em;
}

.word-wrap {
  word-wrap: break-word;
}

.insurance-wrapper{
  width: 100%;
  box-content: border-box;  
}

.insurance-wrapper .form-text {	
	font-family: OpenSans;
	font-size: 18px;
	letter-spacing: -0.4px;
	color: #000000;
  padding: 8% 0 0 8%; 
}

.insurance-wrapper {

  .styled-select,.styled-select-1{
     select {
        -webkit-appearance: none;
        }
  }

  .styled-select-1 {
    background: url('/images/drop-down-icon.png') 75% no-repeat;
    background-size: 25px;
  }

.styled-select {
    background: url('/images/drop-down-icon.png') 90% no-repeat;
    background-size: 25px;
  }
}

.insurance-wrapper  input[type=text].form-input, input[type=number].form-input, input[type=tel].form-input, ng-datepicke.form-input{ 
  width: 84%;
}

.insurance-wrapper .form-input {  
  border-opacity: 0.4;
  border-radius: 20px;
  border: solid 1px #4a4a4a;  
  font-size: 18px !important;
  padding: 12px;
    
}

*:focus {
    outline: none;
}

.insurance-wrapper .calendar-cls {
  opacity: 0; 
  font-size: 0px; 
  z-index:2; 
  position: relative;
}
.insurance-wrapper .date-span {
  position: absolute; 
  top: 0px; 
  z-index: 1;
}
.insurance-wrapper .calendar-cls-div {
  position: relative; 
  height: 90px;
}


.insurance-wrapper .form-input-textarea {  
  border-opacity: 0.4;
  border-radius: 20px;
  border: solid 1px #4a4a4a;
  height: 155px;  
  margin: 4% 8%;
  width: 84%;
  font-size: 18px !important;
  padding: 12px;
  color: black;
}

#insurnceDetailedView {
  overflow: hidden; 
}

#insurnceDetailedView #detailedView {
  text-align: center;
  background-color: #ffffff; 
}

#insurnceDetailedView .insurance-detail-wrapper .form-input-text {
  font-size: 18px !important;
  padding: 12px;
  color: #7d7d7d;
  width:84%;
  padding: 2% 0 0 8%;
}
#insurnceDetailedView .insurance-detail-wrapper .detail-view-div {
  min-height: 65px;
  border: 0;
  border-top: 2px solid #eee;
}

#insurnceDetailedView .insurance-detail-wrapper .line {
  width: 100%;
  height: 2px;
  border: solid 1px #979797;
}

#insurnceDetailedView .insurance-detail-wrapper .form-text { 
  font-family: OpenSans;
  font-size: 18px;
  letter-spacing: -0.4px;
  color: #000000;
  padding: 2% 0 0 8%;
}


#insurnceDetailedView .detailSubHeader {
  height: 4vh;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px; 
  display: table;
}

#insurnceDetailedView .deleteCls {
  display: table-cell;
  float:left;
  width: 50%;
}

#insurnceDetailedView .editCls {
  display: table-cell;
  float:right;
  width: 50%;
}

#insurnceDetailedView .detailSubHeader img {
  max-width: 100%;
  max-height: 100%;
}

#insurnceListView #listView .list-div {  
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px; 
  display: table;
  font-size: 18px;
  color: #7b7b7b;
  width: 94%;
}

#insurnceListView #listView .list-ele1 {
  text-align: left;
  width: 50%;    
  display: table-cell;
  float:left;
}

#insurnceListView #listView .list-ele2 {
  text-align: left;
  width: 25%;    
  display: table-cell;
  float:left;
  text-align: right;
}
#insurnceListView #listView .list-ele3 {
  text-align: right;
  width: 25%;    
  display: table-cell;
  float:left;
}

#insurnceListView #listView .list-ele3 img {
  max-width: 100%;
  max-height: 100%;
}

#insuranceList kendo-mobile-header {
  background-color: #3b86dd;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  /*.km-view-title {
      font-size: 17px;
      line-height: 2;
      letter-spacing: -0.8px;
      color: #ffffff;
    }*/ }

#insuranceList kendo-mobile-header .km-navbar .km-button {
  margin-top: 0;
  margin-bottom: 0; }

#insuranceList kendo-mobile-header .km-navbar {
  background-color: #3b86dd; }




#insuranceList .subheader {
  height: 12vh;
  border-bottom: 1px solid #c8c7cc;
  width: 100%;
  text-align: center;
  list-style-type: disc;
  list-style: none;
  vertical-align: middle;
  padding: 3vh 0;
  font-size: 17px;
  color: #ffffff;
  background-color: #58544e; }

#insuranceList #listView {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto; 
  min-height: calc(80vh - 118px) !important;
}
#insuranceList #listView .lists {
height: 75px;
float: left;
border-bottom: 1px solid #c8c7cc;
width: 100%;
text-align: right;
list-style-type: disc;
list-style: none; }

#insuranceList #listView .lists .insuranceProviderCls {
  width: 40%;
  float: left;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.9px;
  color: #4c4c4c;
  padding: 4vh 0vh;
  padding-left: 2vh;
  text-align: left; }
#insuranceList #listView .lists .insuranceArrow {
  width: 5%;
  float: left;
  padding-top: 4vh; }
#insuranceList #listView .lists .insuranceArrow .increseArrow {
  width: 4vh;
  object-fit: contain; }
#insuranceList #listView .lists .insuranceArrow .decreseArrow {
  width: 4vh;
  object-fit: contain;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }
#insuranceList #listView .lists .insuranceExpiryDate {
  width: 40%;
  float: left;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: #7b7b7b;
  text-align: center;
  padding: 4vh 0vh; }

#insuranceList #listView .lists .insuranceExpiryDate .expiry-text {
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: red;
}
#insuranceList #listView .lists .insuranceHolder {
  width: 10%;
  float: left;
  /*padding: 3px;
    border: solid 1px #e2e2e2;*/
  font-size: 9px;
  line-height: 2.4;
  letter-spacing: -0.4px;
  color: #989898;
  border-radius: 50px;
  margin: 3vh 0vh; }

#insuranceList #listView .lists .listsArrow {
  width: 10%;
  position: relative;
    top: -61px;
    right: 1px;
    left: 339px; }

.p-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.plus-icon {
  color: #ffffff;
  font-size: 34px;
  margin: 0px !important;
  padding: 0 2px 0 0 !important;
  line-height: 34px !important;
  font-weight: 100;
  position: relative; }

#insurance-coach-mark img {
  width: 83%;
  height: 32%;
  margin-top: 35px;
  margin-left: 38px;
}