.medicalAddViewContainer{
	/*height: 100%;
	width: 100%;
	position: relative;
	box-content: border-box;
	font-size: 17px;*/

	.medicalAddValue{
		height: auto;
		width: 100%;
		margin: auto;
		text-align: center;

		.value-edit{
			position: absolute;
			right: 0;
			margin: 5% 2%;
			z-index: 2;
		}
	}

	/*.col-xs-12{
		display: table;

		div{
			height: 100%;
			display: table-cell;
		}
	}*/

	.medicalAddImg img{
		width: 20%;
    	margin: 15% auto;
	}

	.edit-icon, .info-arrow{
		height: auto;
		width: 50%;
    	float: right;
		margin-top: 2%;
		cursor: pointer;
	}

	.medicalAddInput{
		margin: auto;
		text-align: center;

		#medicalInput1, #medicalInput2{
			display: inline-block;
			float: none;
		}

		input{
			width: 100%;
			text-align: center;
			border: 1px solid #979797;
			padding: 10%;
			border-radius: 8px;
			font-size: 23px;
			font-family: HelveticaNeue;
  			color: #000000;
		}

		.medicalUnit{
			margin: 2% 5% 20%;
			font-family: OpenSans;
			font-size: 15px;
			letter-spacing: 0px;
			color: #6d6d6d;
		}
	}

	.measuredDate, .measuredTime, .medicalNotes {
	    padding: 3% 2%;
	    width: 100%;
	    text-align: left;
	    display: table;

	    div{
	    	/*display: table-cell;*/
	    }
	}

	.measuredDate , .measuredTime {
	    p{
	    	margin: 0;
	    	padding: 0;
	    	text-align: left;
	    	font-family: OpenSans;
			font-size: 17px;
			line-height: 1.3;
			letter-spacing: -0.8px;
			color: #9b9b9b;
	    }

	    input {
	      	background: transparent;
			border: 0 !important;
			outline: none;
			padding: 0px;
			margin: 0px;
			position: absolute;
			width: 100%;
			left: 0;
			color: transparent;
			-webkit-appearance: none;
			cursor: pointer;
			
	      &:focus {
	          outline: none;
	          border: 0 !important;
	      }
	    }
	}
	.border-top{
		border-top: 1px solid #c8c7cc;
	}
	.border-bottom{
		border-bottom: 1px solid #c8c7cc;
	}

	.note-text {
		margin-top: 10px;		
    	width: 100%;
	    outline: none;
	    border: 0;
	    resize: none;
	    background: transparent;
	    height: 200px;
	    color: black;
	    line-height: 1.618em;
	}


	ng-datepicker {
		/*width: 300px;
		height: 200px;*/
	/*	top: -264px;
		left: -278px;*/
	}

	.ng-datepicker {
		top: -244px;
  		left: -250px;
	}

}

#medicalDetailedView {

	ul[rn-carousel] {
	    overflow: hidden;	
	    min-height: calc(100vh - 174px);	    
	}
}

#mTime {
	width: 310px;
	/* float: right; */
	margin-left: 84px;
	/* border: 1px solid black !important; */
	height: 50px;
	color: #9b9b9b;
	/* line-height: 2px; */
	padding-top: 6px;
}


  