#addNotes {
  text-align: center; }
  #addNotes .noteImage {
    margin-top: 15%; }
  #addNotes .subHeader {
    margin: 5%;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: -0.8px;
    color: #4a90e2; }
  #addNotes .addNotesHere {
    width: 80%;
    outline: none;
    border: 0;
    resize: none;
    background: transparent;
    height: 200px;
    color: black;
    line-height: 1.618em; }
