#medicalDetailedView {
  overflow: hidden; }
  #medicalDetailedView #detailedView {
    text-align: center;
    background-color: #ffffff; }
    #medicalDetailedView #detailedView .detailSubHeader {
      height: 40px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px; }
      #medicalDetailedView #detailedView .detailSubHeader .deleteCls {
        width: 50%;
        float: left;
        text-align: center; }
      #medicalDetailedView #detailedView .detailSubHeader .editCls {
        width: 50%;
        float: right;
        text-align: center; }
    #medicalDetailedView #detailedView .subHeadings {
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: -0.9px;
      color: #4a90e2;
      text-align: left;
      padding: 1vh 7vh;
      background-color: #f5f5f5;
      border: 1px solid #eeeeee; }
    #medicalDetailedView #detailedView .subHeadingText {
      font-size: 16px;
      line-height: 1.1;
      letter-spacing: -0.9px;
      text-align: left;
      color: #000000;
      padding: 2vh 7vh;
      background-color: #ffffff;
      border: 1px solid #eeeeee; }
    #medicalDetailedView #detailedView .detailedContent {
      background-color: #f9f9f9; }
      #medicalDetailedView #detailedView .detailedContent .referance {
        height: 12vh;
        width: 100%;
        float: right;
        text-align: right;
        padding: 2% 10% 2% 80%;
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: -0.8px;
        color: #ceced2; }
      #medicalDetailedView #detailedView .detailedContent .measuredArrow {
        height: 12vh;
        line-height: 0.8;
        letter-spacing: -3.7px;
        color: #4a90e2;
        text-shadow: -2px 6px 9px rgba(0, 0, 0, 0.2);
        width: 30%;
        float: left;
        text-align: right; }
      #medicalDetailedView #detailedView .detailedContent .medicalValue {
        height: 12vh;
        font-size: 50px;
        line-height: 0.8;
        letter-spacing: -3.7px;
        color: #4a90e2;
        text-shadow: -2px 6px 9px rgba(0, 0, 0, 0.2);
        width: 100%;
        float: right;
        text-align: center; }
        #medicalDetailedView #detailedView .detailedContent .medicalValue .increseArrow {
          width: 4vh;
          object-fit: contain; }
        #medicalDetailedView #detailedView .detailedContent .medicalValue .decreseArrow {
          width: 4vh;
          object-fit: contain;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      #medicalDetailedView #detailedView .detailedContent .medicalValueChanged {
        height: 12vh;
        font-size: 50px;
        line-height: 0.8;
        letter-spacing: -3.7px;
        color: #fc7871;
        text-shadow: -2px 6px 9px rgba(0, 0, 0, 0.2);
        width: 100%;
        float: right;
        text-align: center; }
        #medicalDetailedView #detailedView .detailedContent .medicalValueChanged .increseArrow {
          width: 4vh;
          object-fit: contain; }
        #medicalDetailedView #detailedView .detailedContent .medicalValueChanged .decreseArrow {
          width: 4vh;
          object-fit: contain;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      #medicalDetailedView #detailedView .detailedContent .infoTextNormal {
        height: 34vh;
        text-align: center;
        padding-top: 26vh;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.8px;
        color: #4a90e2; }
      #medicalDetailedView #detailedView .detailedContent .infoTextChanged {
        height: 34vh;
        text-align: center;
        padding-top: 26vh;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.8px;
        color: #fc7871; }
    #medicalDetailedView #detailedView .detailMeasuredDate .calenderImg {
      height: 10vh;
      padding: 2vh;
      margin: auto;
      width: 30%;
      float: left; }
    #medicalDetailedView #detailedView .detailMeasuredDate .dateType {
      height: 5vh;
      padding: 2vh 2vh;
      text-align: right;
      width: 10%;
      float: left; }
    #medicalDetailedView #detailedView .detailMeasuredDate .displayDate {
      float: left;
      height: 5vh;
      width: 60%;
      padding: 2vh 2vh;
      text-align: right; }
    #medicalDetailedView #detailedView .detailMeasuredDate, #medicalDetailedView #detailedView .detailMeasuredTime {
      height: 8vh;
      padding: 2vh;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: -0.8px;
      color: #7b7b7b; }
    #medicalDetailedView #detailedView .detailNote .noteHead {
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: -0.9px;
      color: #4a90e2;
      text-align: left;
      padding: 2vh 0 0 7vh; }
    #medicalDetailedView #detailedView .detailNote .noteComment p {
      font-size: 13px;
      letter-spacing: 0.1px;
      color: #5f5f5f;
      text-align: left;
      padding: 3vh;
      word-break: break-all;
      line-height: 1.618em;
      white-space: pre-wrap;
      height: 125px;
      overflow-y: auto; }

.modal-open .modal {
  background: rgba(255, 255, 255, 0.8); }

.modal.in .modal-dialog {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  height: 35%;
  margin: auto 10px; }

.modal-content {
  /*margin-top: 20vh;*/ }

.modal-header {
  padding: 15px;
  border-bottom: 0;
  text-align: center;
  font-size: 15.3px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #e80000; }

.modal-body {
  font-size: 11.5px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: #000000; }

.modal-footer {
  text-align: center;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.8px;
  color: #007aff; }
