div.emcon {
  margin: 25% 10% 10% 10%; }
  div.emcon .top-element {
    text-align: center; }
  div.emcon div > p {
    margin-left: 10%; }
  div.emcon .em-grey {
    content: url("../images/em_contact_grey.png");
    width: 10%; }
  div.emcon .em-blue {
    content: url("../images/em_contact_blue.png");
    width: 10%; }
