#medicalInfoLists kendo-mobile-header {
  background-color: #3b86dd;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  /*.km-view-title {
			font-size: 17px;
			line-height: 2;
			letter-spacing: -0.8px;
			color: #ffffff;
		}*/ }
  #medicalInfoLists kendo-mobile-header .km-navbar .km-button {
    margin-top: 0;
    margin-bottom: 0; }
  #medicalInfoLists kendo-mobile-header .km-navbar {
    background-color: #3b86dd; }

#medicalInfoLists .subheader {
  height: 12vh;
  border-bottom: 1px solid #c8c7cc;
  width: 100%;
  text-align: center;
  list-style-type: disc;
  list-style: none;
  vertical-align: middle;
  padding: 3vh 0;
  font-size: 17px;
  color: #ffffff;
  background-color: #58544e; }

#medicalInfoLists #listView {
  /*width: 100%;
		padding: 0;
		margin: 0;
		overflow-y: auto;*/ }
  #medicalInfoLists #listView .lists {
    float: left;
    height: 12vh;
    border-bottom: 1px solid #c8c7cc;
    width: 100%;
    text-align: right;
    list-style-type: disc;
    list-style: none; }
    #medicalInfoLists #listView .lists .measureCls {
      width: 25%;
      float: left;
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: -0.9px;
      color: #4c4c4c;
      padding: 4vh 0vh;
      padding-left: 2vh;
      text-align: left; }
    #medicalInfoLists #listView .lists .measuredArrow {
      width: 5%;
      float: left;
      padding-top: 4vh; }
      #medicalInfoLists #listView .lists .measuredArrow .increseArrow {
        width: 4vh;
        object-fit: contain; }
      #medicalInfoLists #listView .lists .measuredArrow .decreseArrow {
        width: 4vh;
        object-fit: contain;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    #medicalInfoLists #listView .lists .measuredDate {
      width: 50%;
      float: left;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: -0.7px;
      color: #7b7b7b;
      text-align: right;
      padding: 4vh 2vh 3vh 0vh; }
    #medicalInfoLists #listView .lists .measuredByMyself {
      width: 10%;
      float: left;
      /*padding: 3px;
				border: solid 1px #e2e2e2;*/
      font-size: 9px;
      line-height: 2.4;
      letter-spacing: -0.4px;
      color: #989898;
      border-radius: 50px;
      margin: 3vh 0vh; }
    #medicalInfoLists #listView .lists .measuredBySchool {
      width: 10%;
      float: left;
      padding: 3vh 1vh 0vh 0vh;
      font-size: 9px;
      line-height: 2.4;
      letter-spacing: -0.4px;
      color: #989898; }
    #medicalInfoLists #listView .lists .listsArrow {
      width: 10%;
      float: left;
      padding: 4vh 2vh; }
  #medicalInfoLists #listView .default-noti {
    position: absolute;
    top: 40%;
    font-size: 20px;
    text-align: center;
    color: #4C91E0;
    padding: 6px;
    line-height: 1.2em; }

.p-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.plus-icon {
  color: #ffffff;
  font-size: 34px;
  margin: 0px !important;
  padding: 0 2px 0 0 !important;
  line-height: 34px !important;
  font-weight: 100;
  position: relative; }
