<section ng-controller="healthInsuranceListController">

	<kendo-mobile-view id="insuranceList" ng-init="getInsuranceDetails()">
	    @@include('../../site/partials/mainHeader.html')

	    <kendo-web-content>

			<div touch-scroll class="datalist profile-grid2 profile-grid3" >
				<kendo-mobile-nav-bar class="km-accent sw-header">
	                
	                <kendo-view-title> {{ headerText }}  </kendo-view-title>
		            <kendo-mobile-button k-align="'right'" class="plus-icon" ng-click="addInsurance()">
		        	<span class="k-icon">+</span>
					</kendo-mobile-button>	
	            </kendo-mobile-nav-bar>
	            <div id="listView">
				<div class="lists" ng-repeat="list in insuranceDetailsList" ng-click="showInsuranceDetail($index)">

			<!-- insurance provider -->
					<div class="insuranceProviderCls">
						{{list.insuranceProvider}}
					</div>
			
			<!-- display date -->
					<div class="insuranceExpiryDate">
						<div  ng-show="list.expiryDate">{{list.expiryDate | formatDate | date : 'd MMM yyyy'}} </div>
							
						<div class="expiry-text">expiry date</div>
					</div>				
			<!-- display reffrence -->
					<div class="insuranceHolder" ng-show="list.source != 1">
						<img ng-src="{{currentUser.profileImage}}" width="100%" ng-show="currentUser.profileImage">
						<img src="images/avatar.png" width="100%" ng-show="!currentUser.profileImage">
				    </div>
			<!-- arrow display end -->
					<div class="listsArrow">
						<img src="images/disclosure-indicator@2x.png" width="30%">
					</div>
				</div>
			</div>
				<div ng-hide="insuranceDetailsList.length" class="default-noti">
					You have not added any insurance details. This is the place where all your insurances appear.
				</div>
			</div>
		</kendo-web-content>
		<!-- <kendo-mobile-footer>
	        <div class="col-xs-4" ui-sref="record">
	            <div class="records-icon" ></div>
	                Records
	        </div>
	        <div class="col-xs-4" ui-sref="home">
	            <div class="home-icon"></div>
	                Home
	        </div>
	        <div class="col-xs-4 activeTab" ui-sref="familyMember">
	            <div class="family-icon"></div>
	                Family
	        </div>
	    </kendo-mobile-footer> -->
	</kendo-mobile-view>

</section>
