

<kendo-mobile-view id="recommandationListdetail" ng-controller="recommendationDetailController">
	
	@@include('../../site/partials/mainHeader.html')

    <div class="rec-details profile-grid2 profile-grid3" ng-init="getDetailNotification()">

		<div class="rec-img">
			<img class="imgIcon" ng-src="{{detailNotification.imageUrl}}" width="100%">
		</div>
		<header class="rec-title">
			<span class="heading">{{detailNotification.title}}</span>
		</header>
		<div class="rec-content">
			<span class="paragraph"></span>
		</div>
	</div>

</kendo-mobile-view>