<section ng-controller="medicalListController">
    <kendo-mobile-view id="medicalDetailedView">
        @@include('../../site/partials/mainHeader.html')       

        <kendo-web-content class="km-insetcontent">
            <div touch-scroll class="profile-grid2 profile-grid3">
                <kendo-mobile-nav-bar class="km-accent sw-header">
                
                <kendo-view-title> {{ headerText }}  </kendo-view-title>
                </kendo-mobile-nav-bar>
                <ul rn-carousel rn-carousel-index="carousel.index"  ng-init="generateDetailView()" ng-model="carousel.index">
                    <li id="detailedView" ng-repeat="sinDet in singleDetail">
                        <div class="detailSubHeader">
                            <div class="deleteCls" data-toggle="modal" data-target="#deleteModal">
                                <img src="images/delete-icon@2x.png" width="9%">
                            </div>
                            <div class="editCls">
                                <img src="images/edit-icon@2x.png" width="9%" ng-click="editMedicalInfo()">
                            </div>
                        </div>
                        <div class="row detailedContent" style="margin:0">
                            <div class="col-xs-12">

                        <!-- Display refference for how added -->
                                <div class="referance">
                                    <div class="measuredBySchool" ng-show="sinDet.source == 1">
                                        <img src="images/school@2x.png" width="100%"> school
                                    </div>
                                    <div class="measuredByMyself" ng-show="sinDet.source != 1">
                                        <img ng-src="{{currentUser.profileImage?currentUser.profileImage:currentUser.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" class="p-img" width="100%">
                                    </div>
                                </div>
                        <!-- Arrow for increse decrese -->
                               <!--  <div class="measuredArrow">
                                    
                                </div> -->
                        <!-- Display Value --> 
                                <div class="medicalValue" ng-show="headerText == 'Height'">
                                    {{sinDet.value | convertToFeet}} 
                                </div>

                                <div ng-class="sinDet.category.type == 'normal' ? 'medicalValue' : 'medicalValueChanged'" ng-show="headerText == 'Blood Pressure'">
                                    <img src="images/increse-arrow@2x.png" class="increseArrow" ng-show="sinDet.category.type == 'high'">
                                    <img src="images/increse-arrow@2x.png" class="decreseArrow" ng-show="sinDet.category.type == 'low'">
                                    {{sinDet.value.systolic}}<span ng-show="sinDet.value.diastolic">/</span>{{sinDet.value.diastolic}} 
                                </div>

                                <div class="medicalValue" ng-show="headerText == 'Heart Rate'">
                                    {{sinDet.value}} bpm
                                </div>

                                <div class="medicalValue" ng-show="headerText == 'Weight'">
                                    {{sinDet.value}} kg
                                </div>

                                <div class="medicalValue" ng-show="headerText == 'Body Temperature'">
                                    {{sinDet.value}} <sup>o</sup> C
                                </div>
                        <!-- INFO TEXT DISPLAY -->
                                <div class="infoTextNormal" ng-show="sinDet.category.type == 'normal'">
                                    {{ sinDet.category.name }}
                                </div>
                                <div class="infoTextChanged" ng-hide="sinDet.category.type == 'normal'">
                                    {{ sinDet.category.name }}
                                </div>
                            </div>
                        </div>
                        <div class="detailMeasuredDate border-top border-bottom">
                                <div class="col-xs-2">
                                    <img src="images/calendar@2x.png" width="100%">
                                </div>
                                <div class="col-xs-8" ng-show="sinDet.measurementDate"> <!-- | formatDate | date : 'd MMM yyyy'  -->
                                    <p>{{sinDet.measurementDate | formatDate | date : 'd-MMM-yyyy' }}</p>
                                </div>
                        </div>
                        <div class="detailMeasuredTime border-top border-bottom" ng-hide="headerText=='Weight' || headerText=='Height'">
                                <div class="col-xs-2">
                                    <img src="images/time-icon@2x.png" width="100%">
                                </div>
                                <div class="col-xs-8" ng-show="sinDet.measurementTime">
                                    <p> {{sinDet.measurementTime | formatDate | date:'h:mm a'}} </p>
                                </div>
                        </div>
                        <div touch-scroll class="row detailNote">
                            <div class="col-xs-12 noteHead"> Note: </div>
                            <div class="col-xs-12 noteComment">
                                <p>{{sinDet.comments}} </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </kendo-web-content>        
    </kendo-mobile-view >
    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to <b>Delete</b> this entry?</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6" data-dismiss="modal"> No </div>
                        <div class="col-xs-6" data-dismiss="modal" ng-click="deleteMedicalData()"> Yes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>