<section ng-controller="diagnosticsListController">
    <kendo-mobile-view id="medicalDetailedView">
        <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-accent sw-header">
                <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" ></kendo-mobile-back-button>
                <kendo-view-title> {{ diagnosticsHeader }}  </kendo-view-title>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <kendo-mobile-content>
            <ul rn-carousel rn-carousel-index="carousel.index" ng-init="generateDetailView($index)" ng-model="carousel.index">
                <li id="detailedView" ng-repeat="sinDet in singleDiagnosticDetail">
                    <div class="detailSubHeader">
                        <div class="deleteCls" data-toggle="modal" data-target="#deleteModal">
                            <img src="images/delete-icon@2x.png" width="9%">
                        </div>
                        <div class="editCls" ng-click="editDiagnosticDetailsInfo()">
                            <img src="images/edit-icon@2x.png" width="9%">
                        </div>
                    </div>
                    <div class="row detailedContent">
                        <div class="col-xs-12">

                    <!-- Display refference for how added -->
                            <div class="referance">
                                <div class="measuredBySchool" ng-show="sinDet.source == 1">
                                    <img src="images/school@2x.png" width="100%"> school
                                </div>
                                <div class="measuredByMyself" ng-show="sinDet.source != 1">
                                    <img ng-src="{{currentUser.profileImage}}" ng-show="currentUser.profileImage" width="100%">
                                    <img src="images/avatar.png" ng-show="!currentUser.profileImage" width="100%">
                                </div>
                            </div>
                    <!-- Arrow for increse decrese -->
                            <!-- <div class="measuredArrow">
                                <img src="images/increse-arrow@2x.png" class="increseArrow" ng-show="sinDet.category.type == 'high'">
                                <img src="images/increse-arrow@2x.png" class="decreseArrow" ng-show="sinDet.category.type == 'low'">
                            </div> -->
                    <!-- Display Value --> 
                            <div ng-class="sinDet.category.type == 'normal' ? 'medicalValue' : 'medicalValueChanged'">
                                <img src="images/increse-arrow@2x.png" class="increseArrow" ng-show="sinDet.category.type == 'high'">
                                <img src="images/increse-arrow@2x.png" class="decreseArrow" ng-show="sinDet.category.type == 'low'">
                                {{sinDet.value.value}} {{ sinDet.value.unit }}
                            </div>
                    <!-- INFO TEXT DISPLAY -->
                            <div class="infoTextNormal" ng-show="sinDet.category.type == 'normal'">
                                {{ sinDet.category.name }}
                            </div>
                            <div class="infoTextChanged" ng-hide="sinDet.category.type == 'normal'">
                                {{ sinDet.category.name }}
                            </div>
                        </div>
                    </div>
                    <div class="detailMeasuredDate border-top border-bottom">
                            <div class="col-xs-2">
                                <img src="images/calendar@2x.png" width="100%">
                            </div>
                            <div class="col-xs-8">
                                <p ng-show="sinDet.measurementDate">{{sinDet.measurementDate | formatDate | date : 'd MMM yyyy' }}</p>
                            </div>
                    </div>
                    <div class="detailMeasuredTime border-top border-bottom">
                            <div class="col-xs-2">
                                <img src="images/time-icon@2x.png" width="100%">
                            </div>
                            <div class="col-xs-8">
                                <p ng-show="sinDet.measurementTime"> {{sinDet.measurementTime | formatDate | date:'h:mm a'}} </p>
                            </div>
                    </div>
                    <div touch-scroll class="row detailNote">
                        <div class="col-xs-12 noteHead"> Note: </div>
                        <div class="col-xs-12 noteComment">
                            <p>{{sinDet.comments}} </p>
                        </div>
                    </div>
                </li>
            </ul>
        </kendo-mobile-content>
        <kendo-mobile-footer>
            <div class="col-xs-4" ui-sref="record">
                <div class="records-icon" ></div>
                    Records
            </div>
            <div class="col-xs-4" ui-sref="home">
                <div class="home-icon"></div>
                    <span >Home</span>
            </div>
            <div class="col-xs-4" ui-sref="familyMember">
                <div class="family-icon"></div>
                    Family
            </div>
        </kendo-mobile-footer>
    </kendo-mobile-view >
    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to <b>Delete</b> this entry?</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6" data-dismiss="modal"> No </div>
                        <div class="col-xs-6" data-dismiss="modal" ng-click="deleteMedicalData()"> Yes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>