<kendo-mobile-view ng-controller="AuthController">
    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent">
            <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
            <kendo-view-title>Sign Up</kendo-view-title>
            <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="!mobileForm.$invalid && checkValidUser()" ng-disabled="mobileForm.$invalid">Next</Kendo-mobile-button>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <kendo-mobile-content class="km-insetcontent ">
        <div class="mno common-input-box grid1" ng-form name="mobileForm">
            <div class="top-element">
                <img class="p-icon" ng-class="!mobileForm.$invalid?'p-mno-blue':'p-mno-grey'" src="images/grey_phone.png"/>
            </div>
            <label style="position: absolute;margin: 38px 0px 0px 15px;font-weight: normal;display: block;font-size: large;">(+91)</label>

            <input  class="form-input-underlined" id="enum" type="tel" ng-model="signUpObj.contactNumber" name="emergencyContactNumber" ng-pattern="[0-9]*" required min="1" maxlength="10" minlength="10"/>

            <input class="form-input-underlined" type="email"  ng-model="signUpObj.emailId" name="emailId" required placeholder="email" ng-pattern="regexs.email" />

            <div ng-messages="mobileForm.phoneNo.$error" ng-show="mobileForm.phoneNo.$touched" class="form-errors">
                <div class="form-error" ng-message="required">Mobile number is required</div>
                <div class="form-error" ng-message="number">Should be a number</div>
                <div class="form-error" ng-message="min">Enter valid number</div>
                <div class="form-error" ng-message="minlength">Cannot be below 10 digits</div>
                <div class="form-error" ng-message="maxlength">Cannot exceed 10 digits</div>
            </div>

            <div ng-messages="mobileForm.emailId.$error" ng-show="mobileForm.emailId.$touched" class="form-errors">
                <div class="form-error" ng-message="required">Email is required</div>
                <div class="form-error" ng-message="pattern">Enter valid email</div>

            </div>
            <div class="form-errors form-error" ng-show="errorMessage">{{errorMessage}}</div>
        </div>
    </kendo-mobile-content>
