
<div class="modal-content-cls" ng-hide="expression">
	<div class="add-cls" >
		<span>+</span><!-- ng-click="addMedicalInfo()" -->
	</div>
	<img ng-show="headerText != 'Family Members'" src="images/height-coach-mark.png">
	<img ng-show="headerText == 'Family Members'" src="images/family-member-coach-mark.png">
</div>

