<kendo-mobile-view id="allergyAdd" ng-controller="allergiesAddController">
    @@include('../../site/partials/mainHeader.html') 
    <kendo-web-content ng-hide="isShownNotes" class="km-insetcontent">
        <div class="profile-grid2 profile-grid3">
        	<kendo-mobile-header class="sw-header">
                <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                    
                    <kendo-view-title> Allergies </kendo-view-title>
                    <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="!allergy.treatment || !allergy.testConducted" ng-click="allergy.treatment && allergy.testConducted && saveAllergyDetail()">Save</Kendo-mobile-button>
                </kendo-mobile-nav-bar>
            </kendo-mobile-header>
            
    		<div touch-scroll ng-show="treatMentFlag && testConductedFlag">
                <div class="pageHeader"> Treatment / Management </div>
                <p id="treatmentCls" ng-click="addTreatment()" ng-model="allergy.treatment" >
                    {{ allergy.treatment }}
                </p>
                
                <hr>

                <div class="pageHeader"> Enter Test Conducted </div>
    			<p id="testCls" ng-click="addTestConducted()"  ng-model="allergy.testConducted">
                    {{ allergy.testConducted }}
                </p>
                <hr>

                <div class="detailMeasuredDate">
                    <div class="col-xs-2 calenderImg"> 
                        <img src="images/calendar@2x.png" width="40vh">
                    </div>

                    <ul class="col-xs-10 calenderDetail">
                        <li class="fromDateDetail">
                            <div class="dateType col-xs-3">
                                <span>
                                    From :
                                </span>
                            </div>
                            <div class="displayDate col-xs-9">
                                    <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="allergy.measurementFrom">
                                    <img src="images/create@2x.png" class="edit-icon" ng-show="allergy.measurementFrom">
                                    <input type="text" name="measurementFrom" max-date="{{maxDate}}" min-date="{{minDate}}" tg-datepicker readonly ng-model="allergy.measurementFrom" autofocus required style="opacity: 0; font-size=0px; z-index:2;">
                                     <span ng-show="allergy.measurementFrom">{{allergy.measurementFrom | date : 'd-MMM-yyyy'}}</span>
                            </div>
                        </li>
                        <li>
                            <div class="dateType col-xs-3">
                                <span> To :</span>
                            </div>
                            <div class="displayDate col-xs-9">
                                <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="allergy.measuredTo">
                                <img src="images/create@2x.png" class="edit-icon" ng-show="allergy.measuredTo">
                                <input type="text" name="measuredTo" min-date="{{allergy.measurementFrom}}" max-date="{{maxDate}}" ng-model="allergy.measuredTo" autofocus required readonly tg-datepicker style="opacity: 0; font-size=0px; z-index:2;">
                                <span ng-show="allergy.measuredTo">{{allergy.measuredTo | date : 'd-MMM-yyyy'}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="medicalNotes border-bottom">
                    <div class="col-xs-2">
                        <img src="images/note@2x.png" width="110%">
                    </div>
                    <div class="col-xs-8"> Add notes </div>
                    <div class="col-xs-2" ng-click="showNotesPage()">
                        <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="allergy.note">
                        <img src="images/create@2x.png" class="edit-icon" ng-show="allergy.note">
                    </div>
                    
                    <div class="col-xs-12 note-text">
                        {{allergy.note}}
                    </div>
                </div>
        	</div>
            <div class="treatmentTest" ng-hide="treatMentFlag">
                <div class="pageHeader"> Treatment / Management </div>
                <button class="btn btnCls " ng-click="closeTreatment()">Done</button>
                <textarea ng-model="allergy.treatment">
                    
                </textarea>
            </div>
            <div class="testConduct" ng-hide="testConductedFlag">
                <div class="pageHeader"> Enter Test Conducted </div>
                <button class="btn btnCls" ng-click="closeTest()">Done</button>
                <textarea ng-model="allergy.testConducted">
                    
                </textarea>
            </div>
        </div>
    </kendo-web-content>
    
    <kendo-web-content ng-show="isShownNotes">
        <div class="profile-grid2 profile-grid3">
            <kendo-mobile-header class="sw-header">
                <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                    
                    <kendo-view-title> Allergies </kendo-view-title>
                    <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="!allergy.treatment || !allergy.testConducted" ng-click="allergy.treatment && allergy.testConducted && saveAllergyDetail()">Save</Kendo-mobile-button>
                </kendo-mobile-nav-bar>
            </kendo-mobile-header>
            <div id="addNotes">
                <div class="row">
                    <div class="col-xs-12 noteImage">
                        <img src="images/note@3x.png" width="25%">
                    </div>
                </div>
                <div class="row subHeader">
                    <div class="col-xs-12">
                        <p> Note </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea ng-model="allergy.note" class="addNotesHere" placeholder="Write note..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </kendo-mobile-content>

</kendo-mobile-view>