<div class="doctor-image">
	<!-- <object class="doctorImg" type="image/svg+xml" data="images/group-3.svg" width="60%">Your browser does not support SVG</object> -->
	<img src="images/doctor-logo@2x.png" width="65%">
</div>