
<section ng-controller="familyMemberController">

	<kendo-mobile-view id="familyMembers" >

		@@include('../../site/partials/mainHeader.html')

		<kendo-web-content class="km-insetcontent">
	      	
	      	<div class="profile-grid2 profile-grid3">

	      		<kendo-web-header class="sw-header">
			        <kendo-mobile-nav-bar class="km-accent km-navbar-buttongroup sw-header">
			        	<div class="header-title-cls">{{headerText}}</div>
			           	<div style="cursor:pointer;" class="listsArrowright" ng-click="addMedicalInfo()">
							<img src="images/add@2x.png">
						</div>
			        </kendo-mobile-nav-bar>
			    </kendo-web-header>

				<div class="personalListItem" ng-repeat="list in personalInfoDetailsList">
					<div ng-click="showPersonalDetail(list)">
						<div class="medInfoImg">
							<img class="imgIcon" ng-src="{{list.user.profileImage?list.user.profileImage:list.user.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" width="70%">
						</div>
						<div class="medInfo">
							<span> {{list.user.firstName}} </span>
							<span> {{list.user.lastName}} </span>
						</div>
					</div>
					
					<div class="deleteMember" ng-click="deleteFM(list)" ng-hide="list.isPrimary=='Yes'">
	                    <img src="images/delete-icon@2x.png" width="15px">
	                </div>
				</div>

				<!-- Cach Marks  -->
				<div ng-show="!isLoad && personalInfoDetailsList.length <= 1" class="modal-cls" id="modalview-coach-marks" ng-click="isLoad = !isLoad">
					@@include('../../overlay/coachMarks.html')
				</div>

			</div>
	    </kendo-web-content>


	</kendo-mobile-view>

	

	<!-- Modal -->
    <div id="deleteMember" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Alert </h4>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to <b>Delete</b> this member?</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 foo-btn-cls" data-dismiss="modal"> No </div>
                        <div class="col-xs-6 foo-btn-cls" data-dismiss="modal" ng-click="deleteMember()"> Yes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>