<div class="panel-body">
	<div class="row" style="text-align: center;">
		<div id="personal-intro">
			<!-- <div class="arrow-up"></div> -->
			@@include('doctor-logo.html')
			<span> Hi! </span>
			<span>
				<p>
					Let's start with adding your personal <br>
					details so that we can know you <br>
					better.<br>
				</p>
			</span>
			<button class="button-box" ng-click="goToUnfilledScreen();"> Start </button>
		</div>
	</div>
</div>