<section ng-controller="recordController">

	<kendo-mobile-view id="familyMembers" >
		@@include('../../site/partials/mainHeader.html')
		<kendo-web-content class="km-insetcontent">
	        <div class="datalist profile-grid2 profile-grid3">	

	        	<kendo-mobile-nav-bar class="km-accent sw-header">
		        	<kendo-view-title>School Healthcheck Snapshot</kendo-view-title>
		        </kendo-mobile-nav-bar>
				<div class="personalListItem"  ng-repeat="list in personalInfoDetailsList" ng-if="list.user.userType == 'student'">
					
					<div ng-click="showSnapshots(list)">
						<div class="medInfoImg">
							<img class="imgIcon" ng-src="{{list.user.profileImage?list.user.profileImage:list.user.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" width="70%">
						</div>
						<div class="medInfo">
							<span> {{list.user.firstName}} </span>
							<span> {{list.user.lastName}} </span>
						</div>
					</div>
				</div>
				<div  ng-hide="personalInfoDetailsList.length" class="default-noti">
					No snap-shot available.
				</div>
			</div>

	    </kendo-web-content>

</section>